# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# Python
__pycache__/
*.py[cod]

# Virtuelle Umgebungen
.venv/
venv/
env/

# Editoren
.vscode/
.idea/
*.swp
*.swo

# Betriebssystem
.DS_Store
Thumbs.db
.venv
*.pyc
